body {
background-image: url('tekkerbackground.jpg');
background-repeat: no-repeat;
background-size: cover;

}
/* site-wide container styling */
#container {
height: 100%;
width: 100%;
length: 100%;
position: fixed;
bottom: 0px;
right: 0px;

}
/* index main div styling */
#main {
text-align: center;
color: white;
font-family: copperplate, Arial, Verdana;
border-style: solid;
background-color: #586063;
border-style: solid;
border-width: 3px;
border-color: blue;
height: 5%;
width: 20%;
position: fixed;
left: 40%;
top: 30%;

}
/* ssh server page main div styling */
#sshmain {
text-align: center;
color: white;
font-family: copperplate, Arial, Verdana;
border-style: solid;
background-color: #586063;
border-style: solid;
border-width: 3px;
border-color: blue;
height: 20%;
width: 20%;
position: fixed;
left: 40%;
top: 30%;

}
/* Minigame page main div styling */
#minigamesmain {
text-align: center;
color: white;
font-family: copperplate, Arial, Verdana;
border-style: solid;
background-color: #586063;
border-style: solid;
border-width: 3px;
border-color: blue;
height: 10%;
width: 20%;
position: fixed;
left: 40%;
top: 30%;

}
 /* Add a black background color to the top navigation */
.topnav {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  left: 27%
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #5f99f5;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
